# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# IDE-specific
.idea/
.vscode/

# Env
.env

# user photo
user_photo

# docker-compose
docker-compose.yml